//会員情報入力（名前、生年月日）

= form_for(@profile) do |f|
  = render "devise/shared/error_messages", resource: @profile
  .main
    .main__container
      .main__container__title
        会員情報入力
      .main__container__form
        .input-default
          = f.label :名字
          %br/
          = f.text_field :family_name, class: 'input', placeholder: ' 例）山田'
        .input-default
          = f.label :名字カナ
          %br/
          = f.text_field :family_name_kana, class: 'input', placeholder: ' 例）ヤマダ'
        .input-default
          = f.label :名前
          %br/
          = f.text_field :first_name, class: 'input', placeholder: ' 例）太郎'
        .input-default
          = f.label :名前カナ
          %br/
          = f.text_field :first_name_kana, class: 'input', placeholder: ' 例）タロウ'
        .profile_birthday
          = f.label :生年月日
          %br/
          = f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
        .btn-default
          = f.submit "次へ進む", class: 'btn-next'