//ログイン

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .main
    .main__container
      .main__container__form
        .input-default
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
        .input-default
          = f.label :パスワード
          %br/
          = f.password_field :password, autocomplete: "current-password", class: 'input'
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :覚えておく
        .btn-default
          = f.submit "ログイン", class: 'btn-next'