.contents
  .header
    .header__logo
      = link_to do
        = image_tag 'material/logo/logo.png', height: '49', width: '185'
  .input-area
    = form_with model: @product do |f|
      .field
        .field-label
          = f.label '商品画像', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.fields_for :product_images do |i|
            .field-input__image
              = i.file_field :image, type: 'file'
              = image_tag 'material/icon/icon_camera.png', height: '24', width: '24'
      .field
        .field-label
          = f.label '商品名', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.text_field :title, class: 'field-input__text-field'
        .field-label
          = f.label '商品の説明', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.text_area :text, placeholder: "色、素材、重さ、定価、注意点 etc…", class: 'field-input__text-area'
      .field
        .field-category
          商品の詳細
        .field-label
          = f.label 'カテゴリー', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.select :category, @category_parent_array, {}, class: 'field-input__select'
        .field-label
          = f.label 'ブランド', class: 'field-label__name'
          %span#optional.field-label__notice 任意
        .field-input
          = f.text_field :brand_id, placeholder: "例） シャネル", class: 'field-input__text-field'
        .field-label
          = f.label '商品の状態', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.select :condition, [ ["新品、未使用", 1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3], ["やや傷や汚れあり", 4], ["傷や汚れあり", 5], ["全体的に状態が悪い", 6] ], {prompt: "選択してください"}, class: 'field-input__select'
      .field
        .field-category
          配送について
        .field-label
          = f.label '配送料の負担', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.select :shipping_charge, [ ["送料込み（出品者負担）", 1], ["着払い（購入者負担）", 2] ], {prompt: "選択してください"}, class: 'field-input__select'
        .field-label
          = f.label '発送元の地域', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: 'field-input__select'
        .field-label
          = f.label '発送までの日数', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.select :deliver_leadtime, [ ["1~2日で発送", 1], ["2~3日で発送", 2], ["4~7日で発送", 3] ], {prompt: "選択してください"},  class: 'field-input__select'
      .field
        .field-category
          価格
        .field-label
          = f.label '販売価格', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          %span ¥
          = f.number_field :price, placeholder: '0', class: 'field-input__number-field'
      
      .action
        = f.submit "出品する", class: 'action__btn'
  .footer
    .footer__image
      = link_to do
        = image_tag 'material/logo/logo-white.png', height: '49', width: '185'

