.contents
  .header
    .header__logo
      = link_to do
        = image_tag 'material/logo/logo.png', height: '49', width: '185'
  .input-area
    = form_with model: @product, local: true do |f|
      .field
        .field-label
          = f.label '商品画像', class: 'field-label__name'
          %span.field-label__notice 必須
        .image-box
          .image-box__container
            .image-list
              -# 登録済みの画像を表示するための記述
              - @product.product_images.each_with_index do |product_image, index|
                .item-image{"data-index" => "#{index}"}
                  .item-image__content
                    .item-image__content--icon
                      %img{src: "#{product_image.image}",height: "80",  width: "114"}
                  .item-image__operetion
                    .item-image__operetion--delete 削除
              = f.fields_for :product_images do |i|
                = i.check_box :_destroy, class: "hidden-destroy", data:{ index: "#{i.index}" }

              -# 追加したい画像を選択・表示するための記述
              %label{for: "img-file", class: "input-area-0", id: "image"}
                = image_tag 'material/icon/icon_camera.png', height: '24', width: '24'
                - @product.product_images.length.upto(4) do |i|
                  = f.file_field :image, type: 'file', name: "product[product_images_attributes][#{i}][image]", value:"", style: "display:none", id:"img-file"

      .field
        .field-label
          = f.label '商品名', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.text_field :title, class: 'field-input__text-field'
        .field-label
          = f.label '商品の説明', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.text_area :text, placeholder: "色、素材、重さ、定価、注意点 etc…", class: 'field-input__text-area'
      .field
        .field-category
          商品の詳細
        .field-label
          = f.label 'カテゴリー', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input#parant
          = f.select :parent_name, @category_parent_array, {selected:@product.category.parent.name}, class: 'field-input__select'
          = f.collection_select :category_id, @category_child_array, :id, :name, {include_blank: "---", selected: @product.category.id}, required: true, class: 'field-input__select'
        .field-label
          = f.label 'ブランド', class: 'field-label__name'
          %span#optional.field-label__notice 任意
        .field-input
          = f.text_field :brand, placeholder: "例） シャネル", class: 'field-input__text-field'
        .field-label
          = f.label '商品の状態', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.collection_select :condition_id, Condition.all, :id, :condition, {prompt: "選択してください"}, class: 'field-input__select'
      .field
        .field-category
          配送について
        .field-label
          = f.label '配送料の負担', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.collection_select :shipping_charge_id, ShippingCharge.all, :id, :charge, {prompt: "選択してください"}, class: 'field-input__select'
        .field-label
          = f.label '発送元の地域', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: 'field-input__select'
        .field-label
          = f.label '発送までの日数', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          = f.collection_select :deliver_leadtime_id, DeliverLeadtime.all, :id, :leadtime, {prompt: "選択してください"}, class: 'field-input__select'
      .field
        .field-category
          価格
        .field-label
          = f.label '販売価格', class: 'field-label__name'
          %span.field-label__notice 必須
        .field-input
          %span ¥
          = f.number_field :price, placeholder: '0', class: 'field-input__number-field'
      .action
        = f.submit "変更する", class: 'action__btn'
  .footer
    .footer__image
      = link_to do
        = image_tag 'material/logo/logo-white.png', height: '49', width: '185'
