.main
  .firstVisual
    .firstVisual__content
      .firstVisual__content--first
        %br/
        人生を変えるフリマアプリ
      .firstVisual__content--second
        FURIMAは誰にでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .firstVisual__content--third
        .appStore
          = link_to do
            = image_tag 'app_store.svg', height: '53', width: '180'
        .googlePlay
          = link_to do
            = image_tag 'google-play-badge.svg', height: '53', width: '180'
  .secondVisual
    .subtitle
      FURIMAが選ばれる３つの理由
      .underLine
    .imageLists
      .imageList
        .image
          %span.image__number 1
          = image_tag 'material/pict/pict-reason-01.jpg', height: '306', width: '306'
        .mainText
          %span.mainText__color ３分
          ですぐに出品
        .subText
          スマホで入力するだけで簡単に出品できる！
      .imageList
        .image
          %span.image__number 2
          = image_tag 'material/pict/pict-reason-02.jpg', height: '306', width: '306'
        .mainText
          %span.mainText__color シンプル
          で使いやすい
        .subText
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      .imageList-last
        .image
          %span.image__number 3
          = image_tag 'material/pict/pict-reason-03.jpg', height: '306', width: '306'
        .mainText
          手数料
          %span.mainText__color 業界最安
        .subText
          最大3%でお得に出品&購入！
  .thirdVisual
    .thirdVisual__content
      .thirdVisual__content--first
        会員数日本一
      .thirdVisual__content--second
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .thirdVisual__content--third
        .appStore
          = link_to do
            = image_tag 'app_store.svg', height: '53', width: '180'
        .googlePlay
          = link_to do
            = image_tag 'google-play-badge.svg', height: '53', width: '180'
  .fourthVisual
    .subtitle
      FURIMAの特徴
      .underLine
    .imageLists
      .imageList
        .image
          = image_tag 'material/icon/icon-01.png', width: '100%', class: 'image__icon'
        .mainText
          簡単に売り買いできる
        .subText
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .imageList
        .image
          = image_tag 'material/icon/icon-03.png', width: '100%', class: 'image__icon'
        .mainText
          売上金は即日振込みに対応
        .subText
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .imageList
        .image
          = image_tag 'material/icon/icon-04.png', width: '100%', class: 'image__icon'
        .mainText
          様々な支払いに対応
        .subText
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .fifthVisuals
    .header
      ピックアップカテゴリー
    .product
      .product__title
        新規投稿商品
      .product__lists
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
  .fifthVisuals.under
    .header
      ピックアップブランド
    .product
      .product__title
        アーカイバ
      .product__lists
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
        .list
          = image_tag 'test.jpg', height: '245px', width: '220px'
  .lastVisual
    .content
      .content__title
        だれでもかんたん、人生を変えるフリマアプリ
      .content__text
        今すぐ無料ダウンロード！
      .content__icon
        .appStore
          = link_to do
            = image_tag 'app_store.svg', height: '53', width: '180'
        .googlePlay
          = link_to do
            = image_tag 'google-play-badge.svg', height: '53', width: '180'
