.purchaseMain
  .purchaseHeader
    .purchaseHeader__logo
      = image_tag 'material/logo/logo.png', height: '49', width: '185'
  .purchaseBody
    .confirmation
      .confirmation__container
        .item
          %section.title 購入内容の確認
      .confirmation__container
        .item
          .product
            .product__image
              = image_tag 'material/pict/pict-reason-02.jpg',  height: '80', width: '80', class: 'image'
            .product__infomation
              .productTitle
                VISION Tシャツ(Mサイズ)
              .other
                %span.shippingChage 送料込み 
                %span.price (税込)¥1,500
      .confirmation__container
        .item
          .payment
            .payment__title
              支払い方法
            .payment__method
              = link_to '登録してください', {}, class: 'registration'
      .confirmation__container
        .item
          .shipping
            .shipping__title
              配送先
            .shipping__address
              = link_to '登録してください', {}, class: 'registration'
      .confirmation__container
        .item
          .confirm
            = submit_tag '購入する', class: 'confirm__btn'