.footer__contents
  .content
    .content__title
      FURIMAについて
    .content__lists
      .list
        = link_to '会社概要（運営会社）', {}, class: 'list__style'
      .list
        = link_to 'プライバシーポリシー', {}, class: 'list__style'
      .list
        = link_to 'FURIMA利用規約', {}, class: 'list__style'
      .list
        = link_to 'ポイントに関する特約', {}, class: 'list__style'
  .content
    .content__title
      FURIMAを見る
    .content__lists
      .list
        = link_to 'カテゴリー一覧', {}, class: 'list__style'
      .list
        = link_to 'ブランド一覧', {}, class: 'list__style'
  .content
    .content__title
      ヘルプ＆ガイド
    .content__lists
      .list
        = link_to 'FURIMAガイド', {}, class: 'list__style'
      .list
        = link_to 'FURIMAロゴ利用ガイドライン', {}, class: 'list__style'
      .list
        = link_to 'お知らせ', {}, class: 'list__style'
.footer__icon
  = image_tag 'material/logo/logo-white.png', class: 'icon'
  %p.copyright ©︎ FURIMA
