.headerContents
  .headerHeigh
    .headerHeigh__icon
      = link_to root_path do
        = image_tag 'material/logo/logo.png', class: 'icon'
    .headerHeigh__search
      = form_with url: products_path, method: :get, local: true do |f|
        .search__area
          .input
            = f.text_field :search, class: 'input__box', placeholder: 'キーワードから探す'
          .search
            = image_submit_tag 'material/icon/icon-search 1.png', class: 'search__btn'
  .headerLow
    .headerLow__search
      .headerLow__search-style
        = link_to 'カテゴリー', {}, class: 'linkStyle'
      .headerLow__search-style.left
        = link_to 'ブランド', {}, class: 'linkStyle'
    .headerLow__user
      - if user_signed_in?
        .herderLow__user-controll
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'linkStyle'
        .herderLow__user-controll
          = link_to 'マイページ', {}, class: 'linkStyle'
      - else
        .herderLow__user-controll
          = link_to 'ログイン', new_user_session_path, class: 'linkStyle'
        .herderLow__user-controll
          = link_to '新規会員登録', new_user_registration_path, class: 'linkStyle'
